[2020-05-01 11:25] fitojb opened #1 "In Spanish, the Italic icon should be a “K”, not a “C”"
Forwarding [this report from here](https://bugs.documentfoundation.org/show_bug.cgi?id=131509) to here; see the rationale there.

[2020-05-01 14:30] Jupiter007-43 commented on #1
Thanks to report this @fitojb !
I'll do it right away.

[2020-05-01 15:03] Jupiter007-43 commented on #1
![Capture d’écran du 2020-05-01 17-02-37](https://user-images.githubusercontent.com/36476595/80815254-9609c280-8bcd-11ea-9d37-34d2bf7b95e6.png)

You can test the fix here:
https://github.com/Jupiter007-43/libreoffice-style-yaru-fullcolor/raw/issue1/K-spanish-italic-icons/oxt/yaru-theme.oxt

[2020-05-02 00:54] fitojb commented on #1
Thanks so much for your work!

Although the icon in “ca” (that’s the language code for Catalan) should remain a “C”. You can take advantage of links.txt to avoid duplications; for example, in German the italic icon is also a “K” https://git.libreoffice.org/core/+/b2da60d74b3e93212601f924d0a3a493ccdaa6ba%5E%21

[2020-05-02 16:16] Jupiter007-43 commented on #1
I linked the icon from "de" to "es" and restored the "C" icon into "ca".
Thanks for the explanations. 👍

[2020-05-02 16:17] #1 closed

[2020-05-03 12:15] fitojb commented on #1
Merci beaucoup !

[2020-05-03 13:26] Jupiter007-43 commented on #1
Je vous en prie !

[2020-06-09 19:31] Jupiter007-43 opened #5 "Format icons are not pixel perfect"
Format icons need to be reworked:

![Capture d’écran du 2020-06-09 21-30-11](https://user-images.githubusercontent.com/36476595/84191224-77ce9680-aa98-11ea-9122-cc8e39ff9f83.png)

[2020-06-12 15:40] #5 closed

[2020-08-03 11:25] MahdiBaghbani opened #7 "How to use?"
Can you provide a readme file on how to use this theme?
I have flatpak version installed.

[2020-08-03 11:39] Jupiter007-43 commented on #7
Hi @MahdiBaghbani,
you just have to download the oxt file at the root of the repo:
https://github.com/Jupiter007-43/libreoffice-style-yaru-fullcolor/raw/master/yaru-theme.oxt

Open it with Libreoffice which will install the icons:
![Capture d’écran de 2020-08-03 13-29-16](https://user-images.githubusercontent.com/36476595/89178292-98ddd000-d58d-11ea-827a-8e1d10544e76.png)

Then open the options wi

[2020-08-03 11:39] #7 closed

[2020-08-24 10:25] Feichtmeier opened #21 "Undo and redo inactive icons have blurry borders in yaru-dark"
**Describe the problem**
Undo and redo inactive icons have blurry borders in yaru-dark

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any LO app
2. Look in the upper left corner
4. Und and redo inactive icons have blurry borders

**Expected behavior**
The inactive undo redo icons should have a sharp border

**Screenshots**
![grafik](https://user-images.githubusercontent.com/15329494/9

[2020-08-24 11:29] Jupiter007-43 commented on #21
In fact, the problem comes from the grey border which use a 60% of opacity to looks good on both theme.
So the color of the white background, which become grey when deactivated, is too close compared to the border and looks blurry.
I can adjust the color of the border for dark theme, but the icon will looks blurry on light theme 😅

You can see here that the border is sharp:

![Capture d’écran du 2

[2020-08-24 14:16] Jupiter007-43 commented on #21
![Capture d’écran du 2020-08-24 16-14-51](https://user-images.githubusercontent.com/36476595/91055512-0af18400-e625-11ea-9a0d-db758b68c262.png)
![Capture d’écran du 2020-08-24 16-16-00](https://user-images.githubusercontent.com/36476595/91055561-1cd32700-e625-11ea-9602-0e973f78d0ce.png)

[2020-08-24 19:02] #21 closed

[2020-09-02 13:37] Jupiter007-43 opened #31 "Missing saveastemplate icon"
**Screenshots**

![2020-09-02_15-34](https://user-images.githubusercontent.com/36476595/91990483-14b86d00-ed32-11ea-9b4f-5afae07d358e.png)

[2020-09-02 14:45] #31 closed

[2020-09-09 05:22] ricotz opened #40 "linked icon should not refer to another linked icon"
**Describe the problem**
The libreoffice build-system expects an icon link listed in `links.txt` to point to an actual icon file. If this is not the case it is an hard build-time error.

[code]

**Libreoffice version**
7.0.x

[2020-09-09 08:21] Jupiter007-43 commented on #40
Thanks very much @ricotz for reporting that.
I'll take care of it.

[2020-09-09 08:54] Jupiter007-43 commented on #40
Do you know how can I check by myself that kind of problem @ricotz ?

[2020-09-09 08:59] fitojb opened #42 "Minify SVG’s sources with svgcleaner"
In preparation for merging this icon theme to the LibreOffice “core” repository, the source of each SVG file should be minified, as other icon themes are.

See the script used in Rizal’s repositories for inspiration: https://github.com/rizmut/libreoffice-style-karasa-jaga/blob/master/build.sh#L23 for example.

Some icons may be distorted if minified; in that case, it’s acceptable to leave the sour

[2020-09-09 09:05] Jupiter007-43 commented on #42
Thanks for taking the time to write this. 🙂
In fact the build script already minimize the SVGs with svgo: https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/blob/7106feea4c8304272c5f6db01fff07d6687fa667/build.sh#L101
The **/src** folder contain raw SVGs and the build script generate the optimized PNGs and the minimized SVGs into the **/build** folder.

[2020-09-09 09:24] fitojb commented on #42
Oh right, I should have had a closer look at the repo. Thanks!!

[2020-09-09 09:24] #42 closed

[2020-09-09 10:23] ricotz commented on #40
@Jupiter007-43 You could adapt/use https://cgit.freedesktop.org/libreoffice/core/tree/solenv/bin/pack_images.py which includes this check.

[2020-09-09 10:30] Jupiter007-43 commented on #40
Thanks 👍

[2020-09-14 17:06] Amr-Ibra opened #48 "Yaru icons appear very small compared to Colibre or Elementary"
I downloaded the style extension from here:
https://extensions.libreoffice.org/en/extensions/show/1042

**Describe the problem**
Yaru icons appear a bit too small to my eyes. I think Colibre or Elementary appear bigger and show their details and identity better than Yaru.
Is it intentional to make Yaru icons appear smaller compared to the other icon styles?

**To Reproduce**
1. Open Writer
2. Chan

[2020-09-15 14:54] fitojb commented on #48
I don't consider this a bug; it's not a requirement to fill the whole 24-by-24-pixel area. The Breeze theme, for instance, doesn't.

[2020-09-16 11:23] Jupiter007-43 commented on #48
Hi @Amr-Ibra,
thank you for sharing your opinion here.
In fact the size of the icons is intentional. It is based on the Breeze theme one.
Personally, I think that the actual size looks pretty good (and anyway I can't resize all these icons 😥).

So I close this issue, but the discussion is still open. 🙂

[2020-09-16 11:27] #48 closed

[2020-09-17 05:28] ricotz commented on #40
@Jupiter007-43 You have missed one from the list above.

[code]

[2020-09-17 08:54] Jupiter007-43 commented on #40
Indeed, sorry 😥

[2020-09-17 08:55] #40 closed

[2020-09-18 18:52] kompilainenn opened #53 "Redraw slide transition icons in Impress sidebar"
Redraw slide transition icons in Impress sidebar in Yaru style, please

[2020-09-18 19:59] kompilainenn opened #55 "Use Ч instead U for an underline huge icon on toolbars for RU GUI"
Use Ч instead U for an underline **huge** icon on toolbars for RU GUI

![изображение](https://user-images.githubusercontent.com/9006514/93639932-6c2d2d00-fa02-11ea-8a8e-557838aea94e.png)

![изображение](https://user-images.githubusercontent.com/9006514/93639983-8535de00-fa02-11ea-97fc-9c0fd51f603e.png)

[2020-09-18 20:02] kompilainenn opened #56 "Create widget uses standard HUGE icons instead Yaru icon"
Create widget uses standard **HUGE** icons instead Yaru icon

![изображение](https://user-images.githubusercontent.com/9006514/93640173-cf1ec400-fa02-11ea-863c-053d1dd9c266.png)

should be

![изображение](https://user-images.githubusercontent.com/9006514/93640269-f5dcfa80-fa02-11ea-9a88-71e798dab968.png)

[2020-09-18 20:09] kompilainenn opened #57 "Make more fat border lines in widget"
Make more fat border lines in widget

![изображение](https://user-images.githubusercontent.com/9006514/93640741-c1b60980-fa03-11ea-9212-0aeb57a0e7b2.png)

like in Elementary theme

![изображение](https://user-images.githubusercontent.com/9006514/93640813-e1e5c880-fa03-11ea-8a39-3a417761d14e.png)

[2020-09-18 20:19] kompilainenn opened #58 "Make Fill cells icons in Calc menu more Yaru style"
Make Fill cells icons more Yaru style

The problem - they are without rounded corners

![изображение](https://user-images.githubusercontent.com/9006514/93641649-4c4b3880-fa05-11ea-91d2-c44b3bb0e842.png)

[2020-09-18 20:23] kompilainenn opened #59 "Make Pivot table actions icons in one style in Calc main menu"
Make Pivot table actions icons in one style in Calc main menu
The first icon is nice
Make the second and the third icons as the first, but just add an update cyrcle and a trash respectively instead an arrow

![изображение](https://user-images.githubusercontent.com/9006514/93641817-a0561d00-fa05-11ea-9974-d1d4e572d0fe.png)

[2020-09-18 20:25] kompilainenn opened #60 "Make Pivot table actions icons in one style in Calc main menu"
Make Pivot table actions icons in one style in Calc main menu
The first icon is nice
Make the second and the third icons as the first, but just add an update cyrcle and a trash respectively instead an arrow

![изображение](https://user-images.githubusercontent.com/9006514/93641817-a0561d00-fa05-11ea-9974-d1d4e572d0fe.png)

[2020-09-19 06:48] rizmut commented on #56
You can use this commit as a reference: https://github.com/rizmut/libreoffice-style-colibre/commit/7cf78ba520a5e5957a8d10785e09f06fd169fb0c

[2020-09-19 06:52] rizmut commented on #58
The icons are still fall backed to Colibre, here are the .uno: commands, quite straightforward
- FillDown
- FillRight
- FillUp
- FillLeft

[2020-09-19 06:55] rizmut commented on #59
Here are the .uno: commands:
- InsertPivotTable
- RecalcPivotTable
- DeletePivotTable

[2020-09-19 06:58] rizmut commented on #57
All of the icons are placed under svx/res directory: fr01 till fr012

[2020-09-19 09:57] Jupiter007-43 commented on #60
Duplicated of #59

[2020-09-19 09:57] #60 closed

[2020-09-20 10:42] #57 closed

[2020-09-20 10:44] #55 closed

[2020-09-20 10:45] #59 closed

[2020-09-20 10:45] #58 closed

[2020-09-20 10:45] #53 closed

[2020-09-20 11:11] rizmut opened #68 "Additions Dialog"
**To Reproduce**
Steps to find the missing icon:
1. Go to Tools > Customize, on the search box, type "Additions"

**Screenshots**
![gambar](https://user-images.githubusercontent.com/5697991/93709913-8256fc80-fb6c-11ea-884e-0ecb8bf9abf4.png)

**Libreoffice version**
Enter here your Libreoffice version.
Ex: LibreOffice 6.4.4.2

**Additional information**
This is a brand new 7.1 feature. See https://

[2020-09-20 11:59] kompilainenn opened #70 "Add bookmark icon in Writer doesn't have rounded corners"
Look at Add bookmark icon (first left) and comparize it with Add comment icon (last right)

![изображение](https://user-images.githubusercontent.com/9006514/93710791-d7394980-fb51-11ea-8315-bc3c64b47e1a.png)

[2020-09-20 12:03] kompilainenn opened #71 "One from Wrap icons on Drawing object properties toolbar in Writer have red color instead violet"
Look at screenshot

![изображение](https://user-images.githubusercontent.com/9006514/93710844-372ff000-fb52-11ea-9d13-15e0597e6f81.png)

[2020-09-20 12:10] kompilainenn opened #72 "Add to Writer Table toolbar's Select table icon a some hatching"
Look at a screenshot

![изображение](https://user-images.githubusercontent.com/9006514/93710967-216efa80-fb53-11ea-8fc1-efe2dfe3d1c8.png)

Select cell, Select row and Select column icons have a hatching for visualize what we'll select, but Select table icon doesn't

[2020-09-20 12:14] kompilainenn opened #73 "Redraw a Remove noise icon on Writer's Image filter toolbar"
That icon deletes a graphic noise not a sound :D but the icon looks as sound icon

![изображение](https://user-images.githubusercontent.com/9006514/93711076-e0c3b100-fb53-11ea-86a2-de3d0ab9b338.png)

[2020-09-20 12:16] kompilainenn opened #74 "Add rounded corners to Chapter numbering icon in Writer's main menu Tools-Chapter numbering"
Look at a screenshot

![изображение](https://user-images.githubusercontent.com/9006514/93711118-46b03880-fb54-11ea-8c6b-daae6ae59777.png)

[2020-09-20 12:19] kompilainenn opened #75 "Add a QR code icon"
![изображение](https://user-images.githubusercontent.com/9006514/93711128-67788e00-fb54-11ea-9be0-477794e4dd35.png)

You can find it into Writer's Insert menu

[2020-09-20 14:40] Jupiter007-43 commented on #75
I don't think that it is possible because there is no icon for this function (see Colibre below):

![Capture d’écran de 2020-09-20 14-59-58](https://user-images.githubusercontent.com/36476595/93713951-a52ee400-fb5f-11ea-9a51-4c02f989ea75.png)

I think you should open an issue on the LO bug tracker to add an icon here (and I'll be very happy to add it 🙂).

[2020-09-20 14:40] #75 closed

[2020-09-20 17:43] Jupiter007-43 commented on #72
Sorry, but I think it will looks "too much":

![Capture d’écran du 2020-09-20 19-40-30](https://user-images.githubusercontent.com/36476595/93717949-39f20b80-fb79-11ea-8ad1-2d401e6c20f5.png)

Personally I prefer the original version.

[2020-09-20 19:14] Jupiter007-43 commented on #71
Do you mean this one (wrapideal):

![2020-09-20_21-10](https://user-images.githubusercontent.com/36476595/93719881-c86c8a00-fb85-11ea-8490-2438582494d0.png) ?

If yes the square use an Ubuntu orange as background.

[2020-09-20 19:39] kompilainenn commented on #71
Yes, I mean that square. Let's it be orange, but why it isn't violet(purple)?
--
С уважением, Роман воскресенье, 20 сентября 2020г., 22:14 +03:00 от Paul Kepinski  notifications@github.com :

[2020-09-20 19:47] Jupiter007-43 commented on #71
In fact this icon is the same as the just left one, the color is different because the action linked to this button is a bit different.

[2020-09-20 20:28] Jupiter007-43 opened #81 "Missing some protect icons"
![Capture d’écran de 2020-09-20 22-26-59](https://user-images.githubusercontent.com/36476595/93721429-91e83c80-fb90-11ea-9e0b-d71dc4394368.png)

[2020-09-20 20:39] #70 closed

[2020-09-21 10:43] #81 closed

[2020-09-21 10:43] #73 closed

[2020-09-21 10:43] #74 closed

[2020-09-21 10:44] #68 closed

[2020-09-21 10:44] #56 closed

[2020-09-22 00:20] rizmut commented on #71
How if make it as violet then add a extra orange outer line?

[2020-09-22 00:27] rizmut opened #87 "Missing Icons in Dropdown Character Spacing"
**To Reproduce**
Steps to find the missing icon:
1. Open Writer, Go To Sidebar Properties,
2. Click on 'Set Character Spacing' in Character section
3. Look at the drop down, the icons are missing

**Screenshots**
![gambar](https://user-images.githubusercontent.com/5697991/93834004-9a319c00-fca4-11ea-817f-06e3bd77d3ec.png)

**Libreoffice version**
Version: 7.1.0.0.alpha0+
Build ID: 30bb3657ee78b7d3

[2020-09-22 00:34] rizmut commented on #1
Catalan should be "C"? So we would question [this report.](https://bugs.documentfoundation.org/show_bug.cgi?id=133038)

[2020-09-22 00:45] rizmut opened #88 "Make Cell Border to Be Like A More Like Cell"
**Describe the problem**
Current border cell icon is way too flat that does not so clearly describe it works against a cell

**To Reproduce**
Steps to reproduce the behavior:
1. Open Calc (Standard UI), Go to Formatting toolbar
2. Click on Borders (Shift to overwrite)
3. See problem

**Screenshots**
![gambar](https://user-images.githubusercontent.com/5697991/93834717-04e3d700-fca7-11ea-84d5-9e7b90

[2020-09-22 06:13] fitojb commented on #1
Yeah, I disagree with Joan in that report; the letters shouldn’t necessarily reflect keyboard shortcuts.

[2020-09-22 11:15] Jupiter007-43 commented on #71
![Capture d’écran du 2020-09-22 12-07-39](https://user-images.githubusercontent.com/36476595/93875495-602cbe00-fcd5-11ea-9abe-9ddc74c8afa6.png)

It looks strange, I prefer the actual version.

[2020-09-22 11:17] Jupiter007-43 commented on #1
Yes, because shortcuts are in English and letters should reflect the corresponding language.

[2020-09-22 19:10] Jupiter007-43 commented on #87
Thanks for the report @rizmut.

What is the goal of the spacing_xxx_s files (they are full white on Colibre)?

[2020-09-22 21:56] rizmut commented on #87
I don't know. I could not find a related string in

[2020-09-22 21:59] rizmut commented on #88
It does not to be a dotted line, you can use normal thin line. It's up to you but I hope it would be syncrhonized with border line in Calc's sidebar

[2020-09-23 09:07] Jupiter007-43 commented on #88
Personally I prefer the dotted line.
😉 And the PR also update the sidebar icons:

![Capture d’écran de 2020-09-23 10-52-57](https://user-images.githubusercontent.com/36476595/93990985-118e2b00-fd8c-11ea-849c-61a2fac6cf99.png)

And also the svx/res/pr01 to pr021 icons (by the way can you tell me where are they used?).

[2020-09-23 09:12] Jupiter007-43 commented on #87
Ok, so you think that link these icons to non _s ones is a good idea?

[2020-09-23 09:50] rizmut commented on #87
I am not sure, but I keep it for compatibility reason.

[2020-09-23 09:53] rizmut commented on #88
pr01, pr02 and so on are being used in Calc's Format Cells > Borders. You can try by selecting some rows only on some columns only to see the difference

[2020-09-23 10:05] Jupiter007-43 commented on #88
Ok, thank you!

[2020-09-23 10:05] #88 closed

[2020-09-23 11:03] Jupiter007-43 commented on #72
@kompilainenn Another idea should be to remove the hatching and add a light background color instead:

![Capture d’écran du 2020-09-23 13-01-58](https://user-images.githubusercontent.com/36476595/94004494-14454c00-fd9d-11ea-9fb1-5c24f4ad9738.png)

[2020-09-23 11:07] kompilainenn commented on #72
I like it!
--
С уважением, Роман среда, 23 сентября 2020г., 14:03 +03:00 от Paul Kepinski  notifications@github.com :

[2020-09-23 11:07] Jupiter007-43 commented on #72
Great! So let's do it!

[2020-09-23 16:38] #87 closed

[2020-09-23 16:39] Jupiter007-43 commented on #71
I don't have any better idea, so @kompilainenn can I close?

[2020-09-23 19:35] kompilainenn commented on #71
Look at KJ icons

![изображение](https://user-images.githubusercontent.com/9006514/94060656-f7386980-fdec-11ea-8e48-c5b61f71cb4a.png)

I think it's the best solution from all current icon themes, where I can see an action result right on icons

[2020-09-23 19:40] kompilainenn opened #93 "Range's icons look the same as Pivot table's icon"
Menu Sheet

![изображение](https://user-images.githubusercontent.com/9006514/94061019-7cbc1980-fded-11ea-8cb1-364dd38bcf46.png)

I suggest change Range icons to a range of cell with 3x3 size and with current additional images (a flag, an arrow and a circle)

[2020-09-23 19:46] kompilainenn opened #94 "Change color to red for Detective icon in Calc's Tools menu"
All Detective's icons in submenu are red:

![изображение](https://user-images.githubusercontent.com/9006514/94061660-59de3500-fdee-11ea-97e9-0d256703e3e3.png)

but a Detective icon in Tools menu is black.

I suggest change its color to red

[2020-09-23 19:50] kompilainenn opened #95 "Conditional formatting's Color scale and Data bar icons are the same"
Look at it

![изображение](https://user-images.githubusercontent.com/9006514/94062182-07514880-fdef-11ea-8105-b02a18c9f222.png)

It needs change one from its...

[2020-09-24 01:46] rizmut commented on #71
Yes I definitely agree, it resembles what other office do, and provide easiest look for user.

[2020-09-24 09:50] #72 closed

[2020-09-24 09:58] Jupiter007-43 commented on #94
Thanks for all the reports @kompilainenn 👍

In fact this icon is missing and fallback to Colibre.

[2020-09-24 10:50] Jupiter007-43 commented on #71
Thanks for your advice!
I'll rework the wrap icons like this (I just need to find a good shape).

[2020-09-24 13:26] #94 closed

[2020-09-24 18:46] #95 closed

[2020-09-25 10:31] #93 closed

[2020-09-25 18:38] Jupiter007-43 commented on #71
I did some test.

**Actual icons**

![Capture d’écran du 2020-09-25 14-31-01](https://user-images.githubusercontent.com/36476595/94303348-f4b14d80-ff6d-11ea-801c-87322a3dc16a.png)
![Capture d’écran du 2020-09-25 14-31-18](https://user-images.githubusercontent.com/36476595/94303353-f5e27a80-ff6d-11ea-992d-0f4c461f9ebf.png)

[2020-09-25 18:38] Jupiter007-43 commented on #71
**Using a shape (I used the same as KJ icons just for testing):**

![Capture d’écran du 2020-09-25 20-20-53](https://user-images.githubusercontent.com/36476595/94303409-0b57a480-ff6e-11ea-82d9-8c37728ad0bf.png)
![Capture d’écran du 2020-09-25 20-21-21](https://user-images.githubusercontent.com/36476595/94303414-0c88d180-ff6e-11ea-87b0-1fd9d5382a5a.png)

[2020-09-25 18:45] Jupiter007-43 commented on #71
Personally I think the actual icons looks better (maybe just rework the wrapthrough icon). Using a shape don't looks like an image for me (it is a bit non-understandable IMO). And the shape ones look worst on dark theme than the actual ones.

Afterwards, it's only my opinion and I'm not an expert 😋

[2020-09-25 20:13] Jupiter007-43 commented on #71
I discussed with the Yaru team and we all agreed that the square (and changing the background color of the wrapideal icon) is the best design. The only icon which need IMO a reworking is the wrapthrough one because it looks too much as wrapon on dark theme.

Thank you anyway for giving your opinion @kompilainenn @rizmut it's very much appreciated 🙂
So I close this issue but the discussion is still

[2020-09-25 20:13] #71 closed

[2020-09-25 20:26] Jupiter007-43 opened #100 "Wrapthrough icon looks too much like wrapon icon on dark theme"
**Describe the problem**
Wrapthrough icon looks too much like wrapon icon on dark theme

**Screenshots**

![2020-09-25_22-25](https://user-images.githubusercontent.com/36476595/94312891-0dc1fa80-ff7e-11ea-85d2-d8e00ef372d1.png)

[2020-09-26 18:42] #100 closed

[2020-09-29 11:27] Feichtmeier opened #110 "New Document icon looks too detailed for this size"
![grafik](https://user-images.githubusercontent.com/15329494/94552579-641d8a80-0257-11eb-85d7-bbab5eac672c.png)

I think a normal sheet of paper in yaru style should be enough. Imo using the exact "doc" icon of the corresponding libre office app is not needed

[2020-09-29 11:32] Jupiter007-43 commented on #110
🤔 Are you using the latest version?
Because these icons has been reworked by this PR: https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/pull/80

[2020-09-29 11:35] Feichtmeier commented on #110
Yes, just pulled and re-ran ./install
Anything I've missed?

[2020-09-29 11:36] Jupiter007-43 commented on #110
Which LO version are you using?

[2020-09-29 11:53] Feichtmeier commented on #110
[code]

[2020-09-29 11:55] fitojb commented on #110
@Feichtmeier Please update to 7.0.x

[2020-09-29 11:55] Jupiter007-43 commented on #110
Ok thanks.

In fact there was a bug with versions under 7.0. LO was using the 24px version for all sizes, and so this icon looked blurry at 16px (your case) and 32px.
Personally I use a PPA for having LO 7.0 on 20.04.

[2020-09-29 11:56] fitojb commented on #110
Specifically this bug: https://bugs.documentfoundation.org/show_bug.cgi?id=134887

[2020-09-29 11:58] fitojb commented on #110
Since this icon theme doesn’t target LibreOffice versions below the 7.0.x series, this issue should be closed as invalid.

[2020-09-29 12:01] Feichtmeier commented on #110
Alright ;) Looking forward for my update manager to update LO then

[2020-09-29 12:01] #110 closed

[2020-09-29 12:46] fitojb commented on #110
7.0.2 is already in Groovy. Each Ubuntu release is fixed to one LibreOffice series (because LibreOffice standardized on a six-month release cycle to follow Ubuntu).

[2020-09-29 12:56] Feichtmeier commented on #110
I'm using focal, thanks for the info

[2020-09-29 18:38] Jupiter007-43 opened #111 "Round icons border look blurry with dark theme"
The round icons border look blurry using dark theme.

![Capture d’écran du 2020-09-29 20-36-32](https://user-images.githubusercontent.com/36476595/94601394-b8def680-0293-11eb-88d8-04a0eb28d2dc.png)

[2020-09-29 19:22] Jupiter007-43 opened #113 "Reworking insertgraphic icon"
The insertgraphic icon (and the other three beside it) needs IMO a reworking.

**Yaru image symbolic icon (as reference):**

![Capture d’écran du 2020-09-29 21-00-26](https://user-images.githubusercontent.com/36476595/94603704-e7120580-0296-11eb-9059-fcca53ae2c32.png)

**Actual style:**

![Capture d’écran du 2020-09-29 20-58-32](https://user-images.githubusercontent.com/36476595/94603660-d792bc80-

[2020-09-29 19:32] Feichtmeier commented on #113
The one with the current color looks good.
The dark border at the bottom isnt very visible on the dark theme though - why is it needed?

[2020-09-29 20:29] Jupiter007-43 commented on #113
I added the dark bottom border to looks like the Yaru image symbolic icon.

[2020-10-01 10:07] #111 closed

[2020-10-01 13:18] ricotz opened #115 "linked icon should not refer to another linked icon"
I have used 45f88d5f30b859241b2951bef084f34e446e5e42

[code]

Like #40

**Libreoffice version**
7.0.2.2

[2020-10-01 13:39] Jupiter007-43 commented on #115
Thanks for the report @ricotz
I'm really sorry, I didn't created the check script yet 😥

[2020-10-01 13:41] ricotz commented on #115
https://git.launchpad.net/~libreoffice/ubuntu/+source/libreoffice/tree/patches/yaru-fix-links.diff?h=wip/groovy-7.0

[2020-10-01 13:57] Jupiter007-43 opened #116 "Create a check script to avoid wrong links"
This repository really needs a script which check the links.txt file to to avoid these kind of issue: #115 #40

[2020-10-01 15:42] #116 closed

[2020-10-01 15:51] #115 closed

[2020-10-01 15:52] Jupiter007-43 commented on #115
I created a check-links script (#117) so there shouldn't be any more links problems now.

[2020-10-02 16:33] #113 closed

[2020-10-03 20:00] Jupiter007-43 opened #126 "Missing linenumberingdialog icon"
**Screenshots**
![Capture d’écran du 2020-10-03 21-59-39](https://user-images.githubusercontent.com/36476595/95000752-cc57cd80-05c3-11eb-9e0e-a2fdd00fdd6d.png)

[2020-10-04 18:30] #126 closed

[2020-10-05 22:51] rizmut opened #134 "Change To Background and To Foreground Icons"
**Describe the problem**
See https://bugs.documentfoundation.org/show_bug.cgi?id=131636

**To Reproduce**
Steps to reproduce the behavior:
1. Open Wriiter, draw/insert a shape
2. In the Frame toolbar/image contextual toolbar, see To Background and To Foreground icon

**Expected behavior**
To Foreground does not same with Bring to Front icon
To Background does not same with Send to Back icon

**Scr

[2020-10-06 09:38] Jupiter007-43 commented on #134
Thanks for the report @rizmut 👍
toforeground and tobackground icons are indeed linked to bringtofront and bringtoback ones.

[2020-10-06 14:18] #134 closed

[2020-10-06 18:11] Jupiter007-43 opened #138 "Some links.txt target point to unexistent icons"
[code]

[2020-10-08 16:44] #138 closed

[2020-10-23 10:16] Feichtmeier opened #152 ">> icon is too dark for a dark gtk theme"
![grafik](https://user-images.githubusercontent.com/15329494/96991897-6f4b9980-1529-11eb-9da4-eb589a7ab7ce.png)

When you slim down the window, some toolbars shring and get that overflow arrows. Imo this is too dark for a dark theme :)
:wave:

[2020-10-23 10:52] Jupiter007-43 commented on #152
Thanks for the report @Feichtmeier !
In fact this icon is missing and fallback to Colibre.

[2020-10-23 11:16] #152 closed

[2020-12-10 16:04] Feichtmeier opened #188 "Blue icons could have a better contrast on the dark theme"
![grafik](https://user-images.githubusercontent.com/15329494/101796824-a130b380-3b09-11eb-92ea-2a9b98ca27dd.png)

I think the blue text align icons do not match so good. That bright orange you use could work better here IMO. :)

[2020-12-10 16:09] Feichtmeier commented on #188
Same for other blue icons tbh
![grafik](https://user-images.githubusercontent.com/15329494/101797562-798e1b00-3b0a-11eb-9e9b-68dcbdcaac09.png)

[2020-12-10 17:52] Jupiter007-43 commented on #188
You're right, the contrast is bad. In fact it is twice bad on your screenshot because you're use the compact grouped toolbar which has a lighten background then the normal tabbed toolbar (it's good to lose the head to manage all these color variants 🤪).

What do you think of lighten a bit the blue:

![Capture d’écran du 2020-12-10 18-38-22](https://user-images.githubusercontent.com/36476595/101809

[2020-12-10 20:32] Feichtmeier commented on #188
I would just use white, with the dark outlines you always use. What do you think about white?

[2020-12-10 20:49] Jupiter007-43 commented on #188
I've already tried white lines with dark outline in early times but it looks 1px height on dark theme and 3px on light and that looks odd.

But I can also do this (last icon):

![Capture d’écran du 2020-12-10 21-45-35](https://user-images.githubusercontent.com/36476595/101827936-34311400-3b31-11eb-9b04-2982b8bfdfa5.png)
![Capture d’écran du 2020-12-10 21-46-15](https://user-images.githubuserconten

[2020-12-10 22:34] Feichtmeier commented on #188
Uhh that's a cool idea 👍

[2020-12-11 12:06] Jupiter007-43 commented on #188
😀 Well, let's go!

[2020-12-11 14:02] Jupiter007-43 commented on #188
To keep the consistency, I'll also rework the other text lines icons:

![Capture d’écran du 2020-12-11 14-59-20](https://user-images.githubusercontent.com/36476595/101912119-9e919500-3bc1-11eb-831e-66b49d066281.png)
![Capture d’écran du 2020-12-11 15-00-56](https://user-images.githubusercontent.com/36476595/101912180-b10bce80-3bc1-11eb-935e-9785d1d7e31f.png)

Is it ok?

[2020-12-11 14:18] Feichtmeier commented on #188
I like it, you too?

[2020-12-11 16:40] Jupiter007-43 commented on #188
Yes!

[2020-12-25 10:22] Muqtxdir opened #190 "libreoffice-style-yaru-fullcolor for libreoffice-snap package"
hi,
I prefer using libreoffice-snap over the default-ubuntu packaged libreoffice for the new releases and would love to have libreoffice-style-yaru included inside the libreoffice-snap
#### other-info:
snap name: libreoffice
snap-version:7.0.2.2
#### screenshot:
![libreoffice-snap](https://user-images.githubusercontent.com/54065734/103131831-5d70a900-46c8-11eb-802f-2043e55d5964.gif)

thanks!

[2021-01-01 11:48] Jupiter007-43 commented on #190
Hi @Muqtxdir,
if you want to use this icon pack and get the latest updates you can use the extension (generated by the repo or the one from the official Lo ext site). As you was saying on Telegram it is impossible to use the install script (even modified) due to the snap confinement.

@hellsworth It is possible to ship the icons into the snap?

[2021-01-19 18:16] #188 closed

[2021-01-19 19:19] Jupiter007-43 opened #194 "Missing icon: "diagramarea""
![Capture d’écran du 2021-01-19 19-55-57](https://user-images.githubusercontent.com/36476595/105082263-94ea2f80-5a93-11eb-9f27-ec237a566786.png)

[2021-01-19 20:15] hellsworth commented on #190
@Jupiter007-43 I've [added the icons to the snap](https://code.launchpad.net/~hellsworth/+git/libreoffice-snap/+merge/396356) and a build is going now to upload to the snap store.

[2021-01-19 21:08] Jupiter007-43 commented on #190
😃 Great, thank you!
Which version will be shipped?

[2021-01-19 21:10] #194 closed

[2021-01-19 23:26] hellsworth commented on #190
7.0.4.. should be in the snap store in the next day or so

[2021-01-20 10:30] Jupiter007-43 commented on #190
Ok, I'll install LO snap to test.

[2021-01-20 10:43] Jupiter007-43 commented on #190
I tested the **latest/candidate** channel. Icons are available and everything seems OK.
Thanks @hellsworth 👍

[2021-01-20 10:43] #190 closed

[2021-01-20 18:41] Jupiter007-43 opened #197 "Missing line select icons"
These icons revert to Colibre and so look invisible on dark theme.

![Capture d’écran du 2021-01-20 19-40-11](https://user-images.githubusercontent.com/36476595/105219975-5fa71580-5b57-11eb-9ca1-b7f2641171b8.png)

Location: /svx/res/symphony/line(1, 2, ...).svg

[2021-01-24 16:40] Jupiter007-43 opened #198 "Missing save all icon"
![Capture d’écran du 2021-01-23 16-16-20](https://user-images.githubusercontent.com/36476595/105636952-0e569900-5e6b-11eb-9506-a61d7c2d4778.png)

[2021-01-24 18:42] #197 closed

[2021-01-25 10:40] Jupiter007-43 opened #201 "Blurry insertlayer icon"
![1](https://user-images.githubusercontent.com/36476595/105695216-20374b00-5f02-11eb-846a-f42b2c0da9ba.png)

[2021-01-25 12:03] Jupiter007-43 opened #204 "Better Yaru icons"
To fit as close as possible the Yaru style, some icons (those with plain color) need IMO a few more things:
- Gradient
- Folds (?)
- Highlights

### Proposal reworking preview

**Before:**

![Capture d’écran du 2021-01-25 12-28-49](https://user-images.githubusercontent.com/36476595/105700781-a6a35b00-5f09-11eb-809c-1561c700eb51.png)

**After:**

![3](https://user-images.githubusercontent.com/36476

[2021-01-25 12:32] Feichtmeier commented on #204
Hmmm as much as I respect your work, I disgagree
Highlights at this size do not really bring anything to the table
Yesterday I actually thought about requesting to remove the highlights from 16 / 32 px icons in yaru :D

[2021-01-25 13:17] Jupiter007-43 commented on #204
Thanks for your answer @Feichtmeier
I totally agree with you, especially at 16px, but it was to stay consistent with other icons, like apps ones.
But ... in a way ... your answer suits me because this represents a colossal amount of work 😝

I'll ask the opinion of the others to see.

[2021-01-25 14:58] Muqtxdir commented on #204
hi,

@Jupiter007-43 I totally agree here with @Feichtmeier on this one as the improvement of adding gradient to the small icons would be really hard to notice (it is subtle) and more work for you ...

Infact, right now I'm on phone and I couldn't observe the gradient-change without zooming all over the after icons

[2021-01-25 16:48] Jupiter007-43 commented on #204
Thanks @Muqtxdir,
unless @ubuntujaggers gives a different opinion, I think I will close this.

[2021-01-25 17:10] #201 closed

[2021-01-25 17:10] #198 closed

[2021-01-26 10:01] #204 closed

[2021-01-28 15:51] Feichtmeier opened #207 "Disabled icons, magnifying glass and gears look a bit blurry"
![grafik](https://user-images.githubusercontent.com/15329494/106162710-b1b7ee80-6188-11eb-9be3-21d14e9588d4.png)

![grafik](https://user-images.githubusercontent.com/15329494/106162746-bb415680-6188-11eb-9de6-568808a7e909.png)

![grafik](https://user-images.githubusercontent.com/15329494/106162783-c5fbeb80-6188-11eb-9741-0493e5f9a547.png)

![grafik](https://user-images.githubusercontent.com/153294

[2021-01-28 18:16] Jupiter007-43 commented on #207
Thanks for the report @Feichtmeier
about gears, sadly, I can't do a better job at this size (9px, it's a miracle that it looks like a gear). In fact, I've already reworked all gears in a previous PR for the same reason (it has given me a hard time btw 😓).
For the rest, I'll do my best to make it as better as possible!

[2021-01-31 18:00] #207 closed

[2021-02-16 08:23] rizmut opened #213 "Impress' Floating Place Holder Are Still Fallbacked to Colibre"
**To Reproduce**
Steps to find the missing icon:
1. Create or open an Impress document
2. Create a new slide, see the floating place holders

**Screenshots**

![gambar](https://user-images.githubusercontent.com/5697991/108036383-bc202680-706a-11eb-967b-45b523da3f41.png)

**Libreoffice version**
Version: 7.2.0.0.alpha0+ / LibreOffice Community
Build ID: 3ec8981b4830d646ad73836d9819db4f8342b499
CPU

[2021-02-16 10:09] Jupi007 commented on #213
Thanks for the report and even more for the files location @rizmut 👍

[2021-02-17 09:56] #213 closed

[2021-02-22 13:57] rizmut commented on #204
I would like to support this rework. It's important to keep in sync with the FreeDesktop icon theme version just like I have been playing around with LibreOffice elementary theme. Moreover I would like to suggest add "origami" style of Yaru and remove those dark outline to follow Yaru more closel (but of course it would be another report)

[2021-02-22 14:19] Jupi007 commented on #204
Thanks a lot @rizmut, sharing your opinion is really appreciated.
In fact we are considering to flatten 16px and 24px version of actions Yaru icons (on which these LO icons are based). And the whole Yaru team agreed to keep this style for now.

And about the dark outline, the goal is to have icons with a great contrast on both light/dark theme (which is an important feature of Ubuntu).

[2021-03-14 21:36] Gitoffthelawn opened #220 "Publish an oxt for recent update"
Thank you very much for the updated icons.  :)

Are you going to publish an `oxt` for the update?

If so, may I recommend publishing it here on GitHub as well on https://extensions.libreoffice.org/ ?

[2021-03-14 21:51] Jupi007 commented on #220
Hi @Gitoffthelawn,
thanks very much for taking the time to create this issue, it's very appreciated.

This icon pack is already available on the official LO ext site [here](https://extensions.libreoffice.org/en/extensions/show/1042). I pushed this morning the latest release (with MATE variant), but as it needs a validation, the OXT isn't up to date there.
If you want to have all recent changes at

[2021-03-14 22:17] Gitoffthelawn commented on #220
@Jupi007 You're welcome.  And thank ***you*** for the wonderful icon pack.

I use a dark theme, and it's the only non-monotone icon pack I've found that looks good with a dark theme.

Thanks also for adding the `oxt` here, and for letting me know that the LO ext site requires validation.  I didn't know they validated anything, so it's good to know.

BTW, do you know the fastest and most seamless w

[2021-03-14 22:18] Gitoffthelawn commented on #220
Oh, and a quick P.S.: What does the term `MATE` reference?

[2021-03-15 15:49] Jupi007 commented on #220
Hi @Gitoffthelawn,
having an icon pack which support both light and dark in the same time was the main motivation of the creation of this icon pack. Indeed, recent Ubuntu version offer a dark theme and there wasn't any LO icon pack with a real dark theme support.

To easily update the extension (whether it is the Github one or the one from LO ext site, they are the same, Github is just more up to

[2021-03-15 15:49] #220 closed

[2021-03-16 00:14] Gitoffthelawn commented on #220
Thank you so much for all the details and the screenshot!

I have LO blocked from internet access with a firewall because - at some point - it was trying to send/receive packets without my consent.  So the online update technique won't work for me.  But I think I'll just remove the extension via the UI you kindly posted, and then add the new version.  That should work (since that's the provided UI

[2021-03-16 09:50] Jupi007 commented on #220
In fact you don't even need to remove the old Ext. Just install a more recent version will erase the old one 😉

[2021-03-18 05:19] Gitoffthelawn commented on #220
Oh wow. Great to know.  Thank you!

[2021-07-02 15:12] hellsworth opened #228 "New tag request"
@Jupi007

The Libreoffice deb in Ubuntu is currently shipping with the yaru style at tag 2021-03-14. Please release a new tag and the deb will be updated accordingly.

Thanks so much.

[2021-07-02 15:18] Jupi007 commented on #228
@hellsworth I'll do this at once :)

Also, I don't know if you tried to contact me with Telegram, but I totally lost my access and I can't recover it. It is better to use Github just like you did it awaiting I found a solution.

Thanks.

[2021-07-02 15:20] hellsworth commented on #228
Ah yes I reached out on telegram last week. Thanks for letting me know, I'll just open issues for you then :)

[2021-07-02 15:22] Jupi007 commented on #228
I did it: https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/releases/tag/2021-07-02

[2021-07-02 15:22] #228 closed

[2021-09-01 18:04] hellsworth opened #231 "New tag request"
Hey @Jupi007, may we pretty please have a new tag to include in the impish debian/rules file?

We are currently packaging the 2021-07-02 tag. I know there are only 3 commits since this tag but we'd like to package the latest to be included in Impish :)

Thanks!

[2021-09-01 18:06] Jupi007 commented on #231
Hi @hellsworth,
I'll do it at once :)

[2021-09-01 18:09] Jupi007 commented on #231
Done: https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/releases/tag/2021-09-01

[2021-09-01 18:09] #231 closed

[2021-09-01 18:10] hellsworth commented on #231
World's fastest resolved tag request :) Thanks!!

[2021-11-09 22:30] hellsworth opened #237 "New tag request"
Hey @Jupi007, may we pretty please have a new tag to ship in the deb?

Thanks!

[2021-11-10 10:26] Jupi007 commented on #237
Hi @hellsworth,
I just did it :) https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/releases/tag/2021-11-10

[2021-11-10 10:26] #237 closed

[2021-12-15 11:56] Jupi007 opened #239 "Sync accent color with Yaru"
See https://github.com/ubuntu/yaru/pull/3264

[2022-01-20 13:13] ricotz opened #241 "New tag request"
Hey @Jupi007,

may we please have a new tag to ship in the upcoming LibreOffice 7.3 rc3 deb next week?

Thanks!

[2022-01-20 16:52] Jupi007 commented on #241
Hi @ricotz,
of course, I'll do it :)

[2022-01-20 18:15] Jupi007 commented on #239
Closed by #240

[2022-01-20 18:15] #239 closed

[2022-01-20 18:27] Jupi007 commented on #241
@ricotz

I just created a new `2022-01-20` tag.

[2022-01-20 18:27] #241 closed

[2022-02-20 10:48] rizmut opened #245 "Add UNO Object Inspector icons"
**To Reproduce**
Steps to find the missing icon:
1. Go to 'Tools > Development Tools"

**Screenshots**
![gambar](https://user-images.githubusercontent.com/5697991/154838972-7692a571-05fe-4ea2-9b05-2f0f4438fc4b.png)

**Additional information**
See https://github.com/rizmut/libreoffice-style-colibre/pull/12 and https://bugs.documentfoundation.org/show_bug.cgi?id=144036

[2022-02-21 20:33] Jupi007 commented on #245
Hi @rizmut,
sorry for the late response, some of my Github notifications reach my Spam folder sometimes.
I'll add the icon soon :)

[2022-02-22 19:22] Jupi007 opened #246 "General Number Format icons"
See https://github.com/rizmut/libreoffice-style-colibre/pull/28

[2022-02-22 19:22] Jupi007 opened #247 "Update Template Manager icons"
See https://github.com/rizmut/libreoffice-style-colibre/pull/27

[2022-02-22 19:23] Jupi007 opened #248 "Add Edit Template icons"
See https://github.com/rizmut/libreoffice-style-colibre/pull/25 and https://github.com/rizmut/libreoffice-style-colibre/pull/26/files

[2022-02-23 08:30] Jupi007 opened #250 "Add Star icons in Extension dialog"
See https://github.com/rizmut/libreoffice-style-colibre/pull/30 and https://github.com/rizmut/libreoffice-style-breeze/pull/10

[2022-03-08 13:25] rizmut opened #251 "Image for Base document preview"
See https://github.com/rizmut/libreoffice-style-colibre/pull/34 or https://github.com/rizmut/libreoffice-style-breeze/pull/12

[2022-03-12 13:00] #245 closed

[2022-03-12 14:14] #246 closed

[2022-03-12 14:56] #251 closed

[2022-03-12 15:01] #250 closed

[2022-03-12 15:22] #247 closed

[2022-03-12 15:22] Jupi007 commented on #248
Closed by  #256

[2022-03-12 15:22] #248 closed

[2022-03-20 20:16] nekohayo opened #258 "Suggest bundling this in LibreOffice as an official icon theme?"
This icon theme is really good, if anything for the fact that it works both in light and dark mode.

Instead of only providing it as an extension, why not propose/contribute it directly to LibreOffice itself, so that it is bundled with each release of the application and is discoverable by more people?

[2022-03-22 10:39] Jupi007 commented on #258
Hi @nekohayo, sorry for the late response.
Thanks a lot for your interest for this icon pack!

In fact, it is already bundled in Ubuntu as the default icon theme.

Indeed, by including it directly in LO, it would reach more people.
But I'm alone at working on it, and I'm afraid that it makes my work more complex to do.

Anyway, this could be a nice idea.
@rizmut do you think it could be possible t

[2022-03-22 12:49] rizmut commented on #258
I have already seen the bug report in TDF/LibreOffice Bugzilla about this request. Unfortunately I can not recall the bug number. Just for disclaimer, I love to see more people contributing to LibreOffice directly but IIRC the conclusion is not to ship this to upstream. Why? It's not because LibreOffice reject some contribution, but adding more icon themes mean adding installer size. Beside than L

[2022-03-22 16:19] fitojb commented on #258
@nekohayo: In fact we at the LO Design team considered this, but as @rizmut says, we’re now considering reducing our default install footprint, and the Yaru author felt it was more flexible to stay as an extension for now, because integrating Yaru upstream implies committing to the main LO repo (“core”) and that’s an additional hurdle hindering agility. At least, that’s what I remember from the di

[2022-03-23 16:49] Jupi007 commented on #258
Okay, thanks for the answer guys :)

I think I can close this so.
Thanks anyway for the suggestion @nekohayo

[2022-03-23 16:49] #258 closed

[2022-03-26 22:30] rizmut opened #259 "Icon Run Basic or Play Media File look optically unbalanced"
The updated icon for Run Basic or Play Media File looks optically unbalanced
https://github.com/ubuntu/libreoffice-style-yaru-fullcolor/pull/257/files#diff-ef71b9b9e8ca333d2d0f935542940f0cb3b47d3588be8b5940aa568608d28f56

[2022-04-05 17:42] #259 closed

[2022-04-06 04:09] lekegf opened #261 "LibreOffice changes its iconset when colour accent is changed"
When the system accent color is applied the LibreOffice icon set automatically changes from Yaru to Elementary, thus making it hard to see the icons in the dark mode, since the Elementary icon set used in LibreOffice isn't suited for dark theme.

**Expected Behavior**

See yaru icon theme applied in LibreOffice after changing the system accent color.

**Actual Behavior**

The LibreOffice icon set

[2022-04-06 08:15] Jupi007 commented on #261
Hi @lekegf,
I transferred your issue on the correct repository.

This comes imo from the fact we don't have accented variants of LO icons.

[2022-04-06 08:46] Feichtmeier commented on #261
Imo it is not necessary to have multiple versions of yaru libre office. But the LO set should just stay yaru no matter what version of yaru the user selects

[2022-04-06 08:55] Jupi007 commented on #261
Well, it's not a big deal to have accented icons, as I already support mate flavour here.
I just totally forgotten to add them before the UI freeze, and that's sad :/

So unless we can make an exception for these icons, this should be fixed in LO itself.
@hellsworth is this possible?

[2022-04-06 14:11] Jupi007 commented on #261
I tested and it's indeed because accent variants are missing. I tried to add a `yaru_red` variant, and after selecting the `Yaru-red` gtk theme, it's this icon pack who is loaded when start LO.

[2022-04-06 17:21] hellsworth commented on #261
I would say it's pretty late in the game to fix this in time for the Jammy release. We could target [the 7.3.3 release](https://wiki.documentfoundation.org/ReleasePlan/7.3) including a fix. That way users are getting a fixed version only a couple of weeks after the jammy release.

So is the proposal to support a variant for each color (like `yaru_red`)? If you give us a tag with those and tell us

[2022-04-06 19:28] Jupi007 commented on #261
My plan is to support each color variant of Yaru.
Glad to ear it's possible :)

I should be ready for the `7.3.3` release.
I'll ping you once I'm ready.

[2022-04-06 19:29] Jupi007 commented on #261
**Offtopic:** @hellsworth If you need to contact me quickly, I've got a new Telegram account `Jupi007_yaru`, my old one is broken since a very long while.

[2022-04-08 12:16] Jupi007 commented on #261
Closed by #263

[2022-04-08 12:16] #261 closed

[2022-04-10 03:13] Gitoffthelawn opened #273 "Clear Direct Formatting and Italic buttons look too similar"
**Describe the problem**
For LibreOffice Writer, the Clear Direct Formatting button currently looks almost identical to the Italic button.  I was pressing what I thought was the Italic button over and over again wondering why my text wouldn't italicize! ;)

**Expected behavior**
The buttons to be more unique.

**Additional context**
Thank you again for this great icon pack and for keeping it updat

[2022-04-10 03:20] Gitoffthelawn opened #274 "'Sidebar settings' icon invisible"
**To Reproduce**
Steps to find the missing icon:
1. Open LibreOffice Writer 7.3.2.2
2. Go to 'View' menu, and click on 'User Interface...'
3. Select 'Sidebar'
4. Press 'Apply to Writer'
5. Click the dialog box's 'Close' button
6. In the sidebar, click the red 'x' in the upper right corner to minimize the sidebar (yes, poor UI/UX)
7. At the top of the sidebar, there is an invisible 'Sidebar setting

[2022-04-10 16:48] kompilainenn opened #275 "Calc's Decrease Indent icon looks wrong"
**Describe the problem**
Calc's Decrease Indent icon looks wrong

**To Reproduce**
Look at Colibre variant for it in Sidebar (Decrease Indent icon is to right)
![изображение](https://user-images.githubusercontent.com/9006514/162630078-d77b35db-1a5f-41b0-88c0-199eccd1f082.png)

And then look at the same icon in Yaru icon theme
![изображение](https://user-images.githubusercontent.com/9006514/1626301

[2022-04-12 13:57] Gitoffthelawn opened #276 "Latest version not on https://extensions.libreoffice.org"
The latest version is not available on https://extensions.libreoffice.org

Was it submitted successfully to them?

[2022-04-12 17:14] Jupi007 commented on #273
Hi @Gitoffthelawn,
thank you for taking the time to write this issue - and very much for your interest for this icon pack !

You're right, this icon can be improved (and I'll do it).

You're welcome ❤️

[2022-04-12 17:27] Gitoffthelawn commented on #273
Hi @Jupi007 !

You're most welcome.  Thanks for your upcoming improvement.

I also noticed that the "No List" button suffers from a similar issue.

Would you like me to add another issue for that, or would you prefer to just use this issue report?

[2022-04-12 17:29] Jupi007 commented on #273
You I would prefer I new issue :)
Add a screenshot would even be better to help me catching the good icon.

[2022-04-12 17:32] Jupi007 commented on #274
Thanks for this issue.

Are you talking about this icon:

![Capture d’écran du 2022-04-12 12-35-13](https://user-images.githubusercontent.com/36476595/163019643-ee1e2c3d-b117-49b4-a682-c9a6a2883baa.png)

If so, I can't reproduce the problem in the dark theme:

![Capture d’écran du 2022-04-12 12-38-58](https://user-images.githubusercontent.com/36476595/163020032-871900e1-fbc9-4a80-960a-c763c229c6cd

[2022-04-12 17:36] Gitoffthelawn commented on #274
I'll make a screenshot for you.  I will upload it in a couple minutes.

[2022-04-12 17:40] Jupi007 commented on #275
Hi @kompilainenn,
thank you very much to have taking the time to write this issue, I really appreciate!

I think you're right, this icon can be improved like you said.
I'll do it soon.

[2022-04-12 17:41] Gitoffthelawn commented on #274
Yes, that's it.

[2022-04-12 17:42] Gitoffthelawn commented on #274
Here's the screenshot I promised:
![_icons](https://user-images.githubusercontent.com/7672848/163022249-cacf7b53-1609-49bd-86de-b78fd3974a54.png)

[2022-04-12 17:46] Gitoffthelawn commented on #273
Sounds good.  I'll create an additional issue.

[2022-04-12 17:50] Jupi007 commented on #276
You're right, but it is normal :)

I recently added many accent variant, and this icon pack is becoming very big.
I want to split it into a main ext, and another one for accents.

Like this people, who don't want the accents will not need to download them :)

But I need to automate this by adapting the build script and didn't found the time to do it yet.

[2022-04-12 17:54] Gitoffthelawn opened #277 ""No List" and "Toggle Unsorted List" buttons look too similar"
They say a picture is worth a thousand words...
![_icons_2](https://user-images.githubusercontent.com/7672848/163024022-968722ac-2ea3-4b96-8748-4832305fba14.png)

[2022-04-12 17:55] Gitoffthelawn commented on #276
Sounds good! Thanks!

[2022-04-12 18:03] Jupi007 commented on #274
🤔 Hmm, personally I don't think this icon is not appropriated.
We open a sidebar by clicking on an icon, and we close it by clicking on the close button.
The `X` in this icon is the standard pictogram for all icon theme (Colibre, Breeze, Yaru, ...).

There's indeed a problem, but it is not related to this icon pack.
Which Gtk theme and icon theme are you using?

[2022-04-12 18:16] Gitoffthelawn commented on #274
I have mixed thoughts about it.  Maybe I'll open up another issue (probably another time) and we can talk about it.

That screenshot is from a Windows box.  For LibreOffice on Windows, the user doesn't manually install Gtk or Gtk themes.  Maybe it's possible to install a Gtk theme within the LibreOffice installation somehow?

[2022-04-12 18:34] Jupi007 commented on #274
@Gitoffthelawn I'm closing this issue as it is not not related to this repository.
I let you open a new one for the close button if you want :)

[2022-04-12 18:34] #274 closed

[2022-04-12 20:08] Jupi007 commented on #275
Closed by #278

[2022-04-12 20:08] #275 closed

[2022-04-13 04:40] fitojb commented on #274
No. LibreOffice’s codebase predates the toy that is GTK, and it’s never used that on Windows.

[2022-04-13 09:09] #277 closed

[2022-04-14 02:11] Gitoffthelawn commented on #274
@fitojb Thanks.  Does that mean it's simply a bug in LibreOffice?

[2022-04-14 06:40] fitojb commented on #274
That is, if I could reproduce your issue. I don’t know what’s going on on your side.

[2022-04-15 22:28] Kj-is-escape opened #283 "Install not stopping when build fails"
**Describe the problem**
When running the install.sh script if the build fails for any reason (such as missing dependencies) the install script will try to continue executing leading to errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure some build dependency is missing
2. Run install.sh
3. See problem

**Expected behavior**
I think the install script should exit with 1 if the

[2022-04-16 15:25] Jupi007 commented on #276
@Gitoffthelawn I uploaded the latest version on extensions.libreoffice.org

[2022-04-16 15:25] #276 closed

[2022-04-16 15:43] Gitoffthelawn commented on #276
Thank you! Got it! 👍🏾

[2022-04-16 16:37] #283 closed

[2022-05-06 13:49] ricotz opened #285 "build.sh script checks for not needed commands"
**Describe the problem**
I want to build the oxt extension which should only require the command `zip`.

**To Reproduce**
Running `./build.sh --oxt`
Fails with e.g. `=> 🙅 Please install svgo`

**Expected behavior**
Build oxt file with only the "special" `zip` command present.

[2022-05-06 14:03] Jupi007 commented on #285
Hi @ricotz,
it's indeed a problem.
I'll fix that at once.

[2022-05-06 15:56] #285 closed

[2022-06-28 12:46] rizmut opened #287 "differentiate Description and Caption icons"
See [tdf#149008](https://bugs.documentfoundation.org/show_bug.cgi?id=149008)

https://github.com/rizmut/libreoffice-style-colibre/pull/51/commits

[2022-07-24 15:54] Jupi007 commented on #287
HI @rizmut,
sorry for the long time without a response.
I have some big personal problem with my car, and I had no time for github this month.
It is not fully solved, but I have some free time.

So I'm working on this now :)

[2022-07-24 16:18] #287 closed

[2022-08-24 10:14] Gitoffthelawn opened #295 "Improve the Save icon"
Thanks once again for this useful icon pack.

I find the little red dot on the Save icon that indicates unsaved changes to be hard to see, especially with the LO preinstalled "Dark" theme.

Could it be improved?

Related, I personally wouldn't mind a different Save icon altogether.  The down-arrow always reminds me of the download button present in other apps, such as web browsers.  That said, I'v

[2022-08-24 10:16] Gitoffthelawn opened #296 "Latest version not on extensions.libreoffice.org"
Just FYI, the latest version isn't reflected on `extensions.libreoffice.org`.

[2022-08-24 10:39] Jupi007 commented on #295
Hi @Gitoffthelawn,
thanks a lot for having created this issue.

Which OS are you using?

In fact, this icon metaphor is the common one for "save" icons on Ubuntu.
As this icon pack is firstly designed for the Ubuntu desktop, I think it is normal to use this icon.
You can see the upstream icon here:

![https://raw.githubusercontent.com/ubuntu/yaru/master/icons/src/fullcolor/default/actions/document

[2022-08-24 10:44] Jupi007 commented on #296
Thanks for the reminder.

In fact, I now that the `extensions.libreoffice.org` version is outdated.
It is just that I have some personal problems and I have very few time. I'm also alone on this project.
Upload, a new version to the extension website is taking a very long time, especially since I've added all those color variants.

That's why I still didn't updated it :)
I'll let this issue open t

[2022-08-24 11:53] Gitoffthelawn commented on #296
Hi Paul!

You're welcome and I'm very sorry to learn of your current problems.  I truly hope they resolve favorably for you and yours. ❤️

Take your time... no rush or pressure... I just wanted to make sure you knew of the status.

[2022-08-24 11:57] Gitoffthelawn commented on #295
Hi Paul.  You're correct, of course, that this metaphor is common on Ubuntu.  I forgot that the origin of this icon set was Ubuntu.

I use LibreOffice on several operating systems, but recently it has been more on Windows than I prefer. ;)

What about making the little red dot more visible/prominent?

[2022-08-24 11:58] Jupi007 commented on #295
I'll try to increase it's size to see how it looks :)

[2022-08-25 07:33] Gitoffthelawn commented on #295
Thanks.  I'm thinking it will also be an improvement to increase the saturation and luminescence of the color.  Perhaps something like `#f20` for the center (maximum red, perhaps with a touch of green to increase prominence).

[2022-09-01 13:40] ShareScene commented on #296
Thx to take it in consideration we are really looking forward this new version.

greetings.

[2022-09-02 19:08] Jupi007 commented on #296
Hi @Gitoffthelawn @ShareScene
I should publish a new version on extensions.libreoffice.org this weekend :)

[2022-09-02 19:36] ShareScene commented on #296
thank you very much we appreciate it. 👌

[2022-09-04 09:25] Gitoffthelawn commented on #296
Thank you!  We hope you are well.

[2022-09-04 09:39] Jupi007 commented on #296
I'll publish the new version once #297 is merged :)

[2022-09-04 09:41] #295 closed

[2022-09-04 09:42] Gitoffthelawn commented on #296
Wonderful!  Thanks!  Please feel no pressure... take care of what's important to you first! 👍🏾

[2022-09-04 09:59] Jupi007 commented on #296
I added oxt files to the latest release.
If you can't wait for the validation process of `extensions.libreoffice.org` which will take a day or two, you can simply use them.
It will be the same I'll upload, and you'll still be able to update it after that :)

[2022-09-04 10:01] ShareScene commented on #296
nice good work bro!

greetings!

[2022-09-04 10:16] Jupi007 commented on #296
Done I uploaded all the new version on [extensions.libreoffice.org](extensions.libreoffice.org).
I'll close this issue once I received the validation email from their.

The previous version was from April, it was indeed a "bit" outdated 😅
Thanks for the reminder @Gitoffthelawn and @ShareScene

[2022-09-05 07:40] #296 closed

[2022-09-05 07:41] Jupi007 commented on #296
All variants are now up to date on the LO extensions website.

[2022-09-05 09:29] rizmut opened #299 "Some of the icons on the standard toolbar have indistinguishable appearance"
Insert Field, Insert Endnote, Insert Footnote, Insert Reference, Show Track Change Functions has similar appearance and so it's hard to distinguish them

![gambar](https://user-images.githubusercontent.com/5697991/188416173-a73ac20f-808c-4aea-aa15-bd1a4145d6c0.png)

Comparing this to other icon themes:
Colibre:
![gambar](https://user-images.githubusercontent.com/5697991/188416315-7a66e430-dbb9-42b

[2022-09-08 13:37] Jupi007 opened #300 "Missing icon in save menu"
![image](https://user-images.githubusercontent.com/36476595/189136526-a0c6c7bb-8606-4001-907f-c2438659f5e8.png)

[2022-09-08 14:59] Jupi007 opened #301 "Missing icon in Table of content context menu"
![image](https://user-images.githubusercontent.com/36476595/189156166-8afc36f5-4a40-4746-aaaa-8749f413c360.png)

[2022-09-24 13:00] Mangoes opened #303 "Underline SVG icon is broken (see screeshot)"
**Describe the problem**
The S underline icon has 2 S misaligned (using libreoffice 7.3 and 7.4 with dark mode on Gnome).

**To Reproduce**
Steps to reproduce the behavior:
1. Select Yaru SVG icon theme in options
2. Look at the "underline" icon.

**Expected behavior**
The underline icon should be displayed properly, like the other icons.

**Screenshots**
See attached screenshot.

**Libreoffice ve